
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.msg-default {
  background-color: #f7fcff;
  border: 1px solid white;
  word-wrap: break-word;
}

.msg-default:hover {
  border: 1px solid #dddddd;
}

.msg-trashed {
  background-color: #fff7f7;
}

.msg-own {
  background-color: #e8f8ff;
}

.msg-top {
  cursor: default;
}

.msg-empty {
  background-color: #f7f7f7;
}

